<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />



    <link rel="stylesheet" type="text/css" href="/vendors/css/dataTables.bs5.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/select2-theme.min.css">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/vendors/css/vendors.min.css">





    @* <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["EduCenter.Frontend.styles.css"]" /> *@
    <ImportMap />
    <HeadOutlet />
</head>

<body>

    <Routes />
    @@include('./partials/customizer.html')
    <script src="_framework/blazor.web.js"></script>

    <script src="/vendors/js/vendors.min.js"></script>
    <script src="/vendors/js/dataTables.min.js"></script>
    <script src="/vendors/js/dataTables.bs5.min.js"></script>
    <script src="/vendors/js/select2.min.js"></script>
    <script src="/vendors/js/select2-active.min.js"></script>
    <script src="/js/common-init.min.js"></script>
    <script src="/js/leads-init.min.js"></script>
    <script src="/js/theme-customizer-init.min.js"></script>


</body>

</html>
